[Desktop Entry]
Name=Glowing Tides
Comment=theme with rounded edges
X-KDE-PluginInfo-Author=Zayronxio
X-KDE-PluginInfo-Name=Glowing.Tides
X-KDE-PluginInfo-Email=adolfo@librepixels.com
X-KDE-PluginInfo-License=LGPL3.0
X-KDE-PluginInfo-Website=https://store.kde.org/p/2267346
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-EnabledByDefault=true


