[Desktop Entry]
Name=Obsidian
X-KDE-PluginInfo-Author=zayronxio
X-KDE-PluginInfo-Email=adolfo@librepixels.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Website=https://store.kde.org/p/2253762
X-KDE-PluginInfo-License=GPL3.0
X-KDE-PluginInfo-Name=Obsidian
X-KDE-PluginInfo-Version=0.5

[BlurBehindEffect]
enabled=true

