[Desktop Entry]
Name=Maverick
Comment= Marble Sand
X-KDE-PluginInfo-Author=Zayronxio
X-KDE-PluginInfo-Name=Maverick
X-KDE-PluginInfo-License=LGPL3.0
X-KDE-PluginInfo-EnabledByDefault=true


